@model EmailView

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
        * {
            font-family: 'Segoe UI',Helvetica,Arial 
        }
        .btn {
            background-color: #ffffff;
            border: 1px solid rgba(27, 31, 35, .15);
            color: #000000;
            font-weight: 800;
            padding: 2px 10px;
            text-decoration: none; 
        }
    </style>
</head>

<body>
    <h2>Tu nueva contraseña</h2>
    <p>Hola, @Model.Nombre</p>
    <p>Se ha generado una nueva contraseña exitosamente.</p>
    <p>Tu nueva contraseña: <strong class='btn'>@Model.Clave</strong></p>
    <p>Te recomendamos cambiar esta contraseña la próxima vez que inicies sesión para mantener la seguridad de tu cuenta.</p>
    <p>Gracias,<br/>El equipo de soporte.</p>
</body>

</html>